Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/TeamService/TeamService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://FiXi.Contracts/PrivateServices" elementFormDefault="qualified" targetNamespace="http://FiXi.Contracts/PrivateServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.fixionline.com/PrivateServices/TeamService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" />
  <xs:element name="GetTeamDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetTeamDetailsRequest" nillable="true" type="q1:GetTeamDetailsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetTeamDetailsResult" nillable="true" type="q2:GetTeamDetailsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessageAsRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="MarkMessageAsReadRequest" nillable="true" type="q3:ClearMessageAsReadRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkMessageAsReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="MarkMessageAsReadResult" nillable="true" type="q4:MarkMessageAsReadResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamDetailsByIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetTeamDetailsByIdListRequest" nillable="true" type="q5:GetTeamDetailsByIdListRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamDetailsByIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetTeamDetailsByIdListResult" nillable="true" type="q6:GetTeamDetailsByIdListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>