Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/TeamService/TeamService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://FiXi.Contracts/PrivateServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FiXi.Contracts/PrivateServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://FiXi.Contracts/PrivateServices/Imports">
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/TeamService.svc?xsd=xsd0" namespace="http://FiXi.Contracts/PrivateServices" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/TeamService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/TeamService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/TeamService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeamService_GetTeamDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamDetails" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_MarkMessageAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkMessageAsRead" />
  </wsdl:message>
  <wsdl:message name="ITeamService_MarkMessageAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkMessageAsReadResponse" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamDetailsByIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamDetailsByIdList" />
  </wsdl:message>
  <wsdl:message name="ITeamService_GetTeamDetailsByIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamDetailsByIdListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeamService">
    <wsdl:operation name="GetTeamDetails">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/GetTeamDetails" message="tns:ITeamService_GetTeamDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/GetTeamDetailsResponse" message="tns:ITeamService_GetTeamDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkMessageAsRead">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/MarkMessageAsRead" message="tns:ITeamService_MarkMessageAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/MarkMessageAsReadResponse" message="tns:ITeamService_MarkMessageAsRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamDetailsByIdList">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/GetTeamDetailsByIdList" message="tns:ITeamService_GetTeamDetailsByIdList_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/ITeamService/GetTeamDetailsByIdListResponse" message="tns:ITeamService_GetTeamDetailsByIdList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>