Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/CustomerService/CustomerService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://FiXi.Contracts/PrivateServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FiXi.Contracts/PrivateServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://FiXi.Contracts/PrivateServices/Imports">
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/CustomerService.svc?xsd=xsd0" namespace="http://FiXi.Contracts/PrivateServices" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/CustomerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_SaveCustomerAttendance_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerAttendance" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomerAttendance_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomerAttendanceList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerAttendanceList" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomerAttendanceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerAttendanceListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="SaveCustomerAttendance">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/ICustomerService/SaveCustomerAttendance" message="tns:ICustomerService_SaveCustomerAttendance_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/ICustomerService/SaveCustomerAttendanceResponse" message="tns:ICustomerService_SaveCustomerAttendance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomerAttendanceList">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/ICustomerService/SaveCustomerAttendanceList" message="tns:ICustomerService_SaveCustomerAttendanceList_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/ICustomerService/SaveCustomerAttendanceListResponse" message="tns:ICustomerService_SaveCustomerAttendanceList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>