Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/ResourceService/ResourceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FiXi.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.fixionline.com/PrivateServices/ResourceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetResourcesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetResourcesRequest" nillable="true" type="tns:GetResourcesRequest" />
  <xs:complexType name="GetResourcesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceListViewList" nillable="true" type="tns:ArrayOfResourceListView" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetResourcesResponse" nillable="true" type="tns:GetResourcesResponse" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="ArrayOfResourceListView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceListView" nillable="true" type="tns:ResourceListView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceListView" nillable="true" type="tns:ArrayOfResourceListView" />
  <xs:complexType name="ResourceListView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceListView" nillable="true" type="tns:ResourceListView" />
</xs:schema>