Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/ResourceService/ResourceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://FiXi.Contracts/PrivateServices" elementFormDefault="qualified" targetNamespace="http://FiXi.Contracts/PrivateServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.fixionline.com/PrivateServices/ResourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" />
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetResourcesRequest" nillable="true" type="q1:GetResourcesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FiXi.DataContract" minOccurs="0" name="GetResourcesResult" nillable="true" type="q2:GetResourcesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>