Examples/ASP.Net/FiXiAPIsamples/FiXiAPIsamples/Service References/MatchService/MatchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://FiXi.Contracts/PrivateServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://FiXi.Contracts/PrivateServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://FiXi.Contracts/PrivateServices/Imports">
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/MatchService.svc?xsd=xsd0" namespace="http://FiXi.Contracts/PrivateServices" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/MatchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/MatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FiXi.DataContract" />
      <xsd:import schemaLocation="http://api.fixionline.com/PrivateServices/MatchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchService_GetMatchesByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesByDateRange" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchById" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesByIdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesByIdList" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetMatchesByIdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchesByIdListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatchService">
    <wsdl:operation name="GetMatchesByDateRange">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchesByDateRange" message="tns:IMatchService_GetMatchesByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchesByDateRangeResponse" message="tns:IMatchService_GetMatchesByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchById">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchById" message="tns:IMatchService_GetMatchById_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchByIdResponse" message="tns:IMatchService_GetMatchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMatchesByIdList">
      <wsdl:input wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchesByIdList" message="tns:IMatchService_GetMatchesByIdList_InputMessage" />
      <wsdl:output wsaw:Action="http://FiXi.Contracts/PrivateServices/IMatchService/GetMatchesByIdListResponse" message="tns:IMatchService_GetMatchesByIdList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>